nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__title h1, .card__title p {
  margin: 0;
}

.card__title h1 {
  margin-bottom: 8px;
}

.card__add-button {
  background-color: transparent;
  color: var(--on-bg-color);
  font-size: 48px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.card__add-button:hover {
  transform: scale(1.15);
}