.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-task-modal {
  width: 55%;
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 20px;
  z-index: 1001;
}

.add-task-modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.add-task-modal__header h2 {
  margin: 0;
}

.add-task-modal__close-button {
  background-color: transparent;
  color: var(--on-bg-color);
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.add-task-modal__close-button:hover {
  transform: scale(1.15);
}

.add-task-modal__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.add-task-modal__input label {
  font-size: var(--default-font-size);
  font-weight: bold;
  margin-bottom: 16px;
}

.add-task-modal__input textarea {
  background-color: var(--bg-color);
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: var(--default-font-size);
  color: var(--on-bg-color);
  resize: none;
}

.add-task-modal__input textarea::placeholder {
  color: var(--gray);
}

.add-task-modal__input textarea:focus {
  outline: none;
}

.add-task-modal__submit-button {
  width: 100%;
  background-color: var(--green);
  color: var(--on-bg-color);
  font-size: var(--default-font-size);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  transition: transform 0.2s;
  cursor: pointer;
}

.add-task-modal__submit-button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}

.add-task-modal__submit-button:hover {
  transform: scale(1.025);
}